@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Raleway, sans-serif, 'Times New Roman';
    color: #777;
    /* box-sizing: border-box ; */
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

/* Header */

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    padding: 1em 5%;
}

nav li a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

header nav {
    text-align: center;
    font-size: 1.1rem;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.hero {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Hero.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 125px;
    
}

.hero h1{
    text-align: center;
    margin: 0;
    font-size: 9rem;
    font-family: 'Booter - Zero Zero';
    font-weight: normal;
    color: #fff;
    margin-top: 20px;
}

#get-album-button {
    border: solid 1px rgb(12, 197, 243);
    background-color: transparent;
    padding: 20px 60px;
    margin-left: 15%;
    margin-top: 20px;
    font-size: 1.2em;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#get-album-button:hover {
    background-color: rgb(188, 244, 248, .3);
    border-width: 1.5px;
}

#play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(12, 197, 243);
    background-color: transparent;
    border-radius: 50%;
    font-size: 3em;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 1em;
    color: rgb(12, 197, 243);
    cursor: pointer;
}

#play-button:hover {
    background-color: rgb(188, 244, 248, .3);
    border-width: 2.5px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* Footer */

footer {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Hero.png");
    background-blend-mode: multiply;
    background-size: cover;
}

footer h3 {
    font-family: 'Booter - Zero Zero';
    font-size: 4rem;
    text-align: center;
    margin: 5%;
    color: #fff;
    font-weight: normal;
}

footer div {
    display: flex;
    align-items: center;
    max-height: 200px;
}

footer ul {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    padding-right: 5%;
    list-style-type: none;
}
footer li{
    padding: 0 1em;
}

footer img {
    width: 30px;
    height: 30px;
}

/* About Page */

.about-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.about-section h2 {
    font-family: 'Metal Mania';
    color: #333;
    text-align: center;
    font-size: 2.2rem;
    font-weight: normal;
}

.about-section p {
    line-height: 1.5em;
}

.about-section img {
    float: left;
    margin: 2% 5%;
    border-radius: 10%;
    max-height: 450px;
}


/* Home Page */

#tour-section {
    max-width: 900px;
    margin: 0 auto;
}

#tour-section h2{
    font-family: 'Metal Mania';
    font-size: 2.2rem;
    text-align: center;
}

#tours {
    padding-bottom: 3rem;
}

.tour-row {
    padding: 15px;
    display: grid;
    grid-template-columns: .75fr 1fr 1fr 1fr;
    text-align: center;
}

.tour-date {
    font-size: 1.2rem;
    font-weight: bold;
}

.tour-city {
    display: grid;
    font-size: 1.2rem;
    color: #000;
}

.tour-arena {
    font-size: 1.2rem;
    color: #555;
}

.tour-row button {
    font-size: 1.1rem;
    color: #000;
    background-color: rgb(23, 200, 253);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 3rem;
}

.tour-row button:hover {
    background-color: rgba(23, 200, 253, .5);
}

hr{
    border: solid 1px rgb(200, 200, 200);
}


/* Store Page */

#shop-section {
    max-width: 900px;
    margin: 0 auto;
}

#shop-section img {
    height: 250px;
    width: 250px;
}

#shop-section h2 {
    text-align: center;
    font-size: 1.5em;
    color: #111;
}

.shop-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr)  ;
}

.shop-item {
    text-align: center;
    margin-bottom: 2.5rem;
}

.shop-item h3 {
    color: #666;
    font-size: 1.2rem;
}

.item-price {
    font-size: 1.2rem;
    color: #000;
}

.shop-item button {
    background-color: rgb(23, 200, 253);
    border-radius: 15px;
    cursor: pointer;
    font-size: .9rem;
    color: #333;
    padding: .3rem;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .about-section img {
        height: 270px;
    }

    .shop-item img {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (min-width: 601px) and (max-width:767px) {
    html {
        font-size: 16px;
    }

    .about-section img {
        height: 300px;
    }

    .shop-item img {
        max-width: 175px;
        max-height: 175px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 16px;
    }

    .about-section img {
        height: 350px;
    }

    .shop-item img {
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 16px;
    }

    .about-section img {
        height: 400px;
    }

    
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    .shop-item img {
        min-width: 300px;
        min-height: 300px;
    }
}